h1,h2,h3,h4,h5,h6,p{
    text-align: center;
}
.test1{
    font-size: 60px;
}
body {
    font-family: 'Big Shoulders Display', cursive;
    height: auto;
    background-image: linear-gradient(rgb(233, 165, 38), red); 
    background-attachment: fixed;
   /* background-image: linear-gradient(to right, red , yellow);*/
 
}
.button {

    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float: right;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


